{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "**/*.{js, ts, jsx, tsx}": ["eslint --fix", "git add"],
  "**/*.{less, css}": ["prettier --write", "git add"],
  "**/*.{json, html, md}": ["prettier --write", "git add"]
}
